<center>
    <form ng-submit="submit()">
        <label class="myFont">user name :</label>
        <input type="text" ng-model="Username" name="text" class="textar" placeholder="שם משתמש" required/>
        </br>
        <label class="myFont">password :</label>

        <input type="password" ng-model="Password" name="text" class="textar" placeholder="סיסמא" required/>
        </br>
        <input type="submit" class="myButton" id="submit" value="היכנס" />
        <input class="myButton" id="register" ng-click="register()" value="הירשם" />
    </form>
  </br>
  </br>

</center>
